<section>
    <div class="container">
        <h3 class="center light grey-text text-darken-3">Tentang Developer</h3>
        <p>Website ini dibuat dalam rangka pemenuhan submission dalam kelas Progressive Web Apps.</p>
        <p>Kritik dan saran Anda sangat dibutuhkan, Anda dapat menyalurkannya melalui berikut ini : </p>
        <ul>
            <li>Email: <a href="#">muhammadariffaizin@gmail.com</a></li>
            <li>Facebook: <a href="https://facebook.com/muhammad.arif.faizin.19">muhammad.arif.faizin.19</a></li>
            <li>Whatsapp: <a href="https://api.whatsapp.com/send?phone=6285748783507&text=Saya%20ingin%20tahu%20lebih%20dalam%20tentangmu.">+6285748783507</a></li>
            <li>Twitter: <a href="https://twitter.com/m_ariffaizin">m_ariffaizin</a></li>
            <li>Github: <a href="https://github.com/MuhammadArifFaizin">MuhammadArifFaizin</a></li>
        </ul>
    </div>
</section>